# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Config files with API keys
config.js

# Build files
build/
dist/
out/

# Cache
.cache/
.parcel-cache/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
